<section class="satisfaction_area" id="about">
    <div class="container">
        <div class="main_title">
            <h2>{{ content.title }}</h2>
            {{ content.text|raw }}
        </div>

        <div class="row satisfaction_item_inner">
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="sat_icon">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                    </div>
                    <a href="#"><h4>Easy To Use</h4></a>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="sat_icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <a href="#"><h4>24/7 Support</h4></a>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="satisfaction_item">
                    <div class="sat_icon">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </div>
                    <a href="#"><h4>Well Documented</h4></a>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                </div>
            </div>
        </div>
    </div>
</section>
