{% extends 'base-no-sulu.html.twig' %}

{% block content %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-head"></div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-one-third has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <a href="{{ get_env('BASE_URL') }}" class="logo-mobile">
                                <img src="{{ asset('/build/resources/images/logo.png') }}" alt="logo">
                            </a>
                        </figure>
                    </div>

                    <div class="column is-two-fifths">
                        {% block status %}
                            <h1 class="title is-1 is-spaced">{% block title %}{{ title }}{% endblock %}</h1>
                            <p class="subtitle is-5">{% block message %}{{ message }}{% endblock %}</p>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot"></div>
    </section>
{% endblock %}