{% extends 'base-no-sulu.html.twig' %}

{% block content %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-head"></div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-one-third has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <a href="{{ get_env('BASE_URL') }}" class="logo-mobile">
                                <img src="{{ asset('/build/resources/images/logo.png') }}" alt="logo">
                            </a>
                        </figure>
                    </div>

                    <div class="column">
                        <h1 class="title">{{ title }}</h1>
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot"></div>
    </section>
{% endblock %}